.container {
    
    background-color: white;
    background-repeat: no-repeat;
}
.holy {
  backgroud-color: silver;
  text-shadow: #FC0 1px 0 10px;
  color: black;
  font-family: Ariel, sans, serif, sans-serif, cursive, fantasy;
  position: relative;
   top: 12px;
  font-size: 36px;
 
  padding-left: 5px;
  tex-align: left;
}
.bible {
 position: relative;
  top: -40px;
  margin-top: 0;
  font-family: Ariel, sans, , serif, sans-serif, cursive, fantasy;
  text-shadow: #FC0 1px 0 10px;
  color: black;
  font-size: 64px;
  padding-left: 5px;

  tex-align: left;
}


.main {
    background-color: white;
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image {
    padding-left: 100px;
    padding-right: 100px;
    display: grid;
    place-items: center;
    max-height: 900px; 
    margin-bottom: 1.5rem;
}
.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}
.hero {
  position:relative;
  top: -105px;
}
.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.nav ul {
    display: flex;
    flex-basis: auto;
    color: #fafafa;
    justify-content: space-around;
    list-style: none;
    font-size: xx-large;
    padding-top: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.donateButton {
    width: 200px;
}

.donateButton:hover {
    color: white;
    cursor: pointer;
}

.title a {
    color: black;
    text-decoration: none;
    padding: 2rem;
    opacity: 0.9;
    text-shadow: 1px 1px white;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-shadow: 1px 1px white;
    opacity: 1;
}

.titleSpan {
    font-size: x-large;
    float: right;
    padding: 2rem;
    padding-right: 5rem;
    text-shadow: 2px 2px white;
    position: relative;
    top: 2rem;
    right: 12rem;
}


.title {
  color: black;
  position: relative;
  top: -50px;
  margin-top: 0;
  font-family: Ariel, sans, serif, sans-serif, cursive, fantasy;
  text-shadow: #FC0 1px 0 10px;
  font-size: 64px;
  margin-bottom: 1rem;
}

.instructions {
  text-align: center;
  color: black;
  position: relative;
  top: 10px;
  margin-top: 0;
  font-family: Ariel, sans, serif, sans-serif, cursive, fantasy;
  text-shadow: #FC0 1px 0 10px;
  font-size: 14px;
  margin-bottom: 0.5rem;
}


.title,
.description {
    text-align: center;
}

.description {
    text-shadow: 1px 1px black;
    padding: 2rem;
    padding-right: 3rem;
    margin: 0rem 0;
    line-height: 1.5;
    font-size: 1rem;
    max-width: 60rem;
}



.button:hover {
    color: black;
    background-color:#CBC3E3;
    opacity: 0.7;
    text-shadow: 1px 1px black;
    opacity: 1;
    border-style: 2px inset black;
    cursor:pointer;
}

.span {
    font-size: xx-large;
    color: orange;
    text-shadow: 1px 1px black;
}

.span:hover {
    color: white;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.button {
    color: white;
    height: 30px;
    width: 70px;
    font-size: 7px;
    border-radius: 50px 20px;
    background-color: #b37400;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    margin-bottom: 75px;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1400px;
}

.h2 {
    background-image: none;
    opacity: 0.9;
    background-size: cover;
    text-shadow: 1px 1px white;
    margin-top: 0rem;
    padding: 2rem;
    text-align: left;
    font-size: larger;
    color: black;
    text-decoration: none;
    transition: color .5s ease, border-color 0.15s ease;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.h2:hover {
    color: white;
    border-color: hsl(184, 42%, 62%);
    text-decoration: dashed;
    background-color: black;
    opacity: 0.85;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card {
    background-image: url(/haga-clic-aquí-botón.webp);
    background-size: cover;
    background-repeat: no-repeat;
    color: transparent;
    background-color: white;
    margin: 1.5rem;
    padding: 1.5rem;
    text-align: left;
    max-height: 400px;
    overflow: scroll;
    text-decoration: none;
    border: 3px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 2s ease;
    max-width: 400px;
    font-family: monospace;
}

.card:hover,
.card:focus,
.card:active {
    display: inline;
    color: black;
    border-color: hsl(212, 100%, 48%);
    background-image: url(/closeup-old-paper-texture-age-marks.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: all-scroll;
    background-color: white;
    opacity: 0.9;
    overflow: scroll;
    font-family: monospace;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card h2:hover {
    text-shadow: 1px 1px white;
    color: black;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
    font-family: monospace;
}

.card p:hover {
    text-shadow: 1px 1px white;
    font-weight: 900;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}

.flex {
    margin-top: -100px;
    padding-top: 1rem;
    padding-bottom: 0rem;
    display: flex;
    justify-content: space-around;
}

.publisher {
    font-family: Arial, Verdana, Tahoma, Trebuchet MS, Times New Roman, Georgia, Garamond, Courier New, Brush Script MT; 
    color: flex;
    margin-left: 2rem;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}

@media (max-width: 769px) {
    .nav ul {
        display: none;
        color: #fafafa;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-left: -2rem;
    }
}


@media (min-width: 1080px) {
         .image {
        padding-left: 200px;
        padding-right: 200px;     
    }
}
   


@media (max-width: 769px) {
    .flex {
        display: grid;
    }
    .card {
       margin: 0;
       margin-top: 5rem;
       max-width: 100%;
    }
    .image {
        padding: 0;
    }
    .holy {
        padding: 0;
    }
    .bible {
    padding: 0;
    }
    .title  {
    font-size: 36px;
    }
}
