.container {
    padding: 0 2rem;
    background-color: #2d2d2d;
    background-size: cover;
    background-repeat: no-repeat;
}

.main {
    background-color: silver;
    background-size: contain;
    background-size: contain;
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}
.hero {
  position:relative;
  top: -105px;
}
.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.nav ul {
    display: flex;
    flex-basis: auto;
    color: #fafafa;
    justify-content: space-around;
    list-style: none;
    font-size: xx-large;
    padding-top: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.donateButton {
    width: 200px;
}

.donateButton:hover {
    color: white;
    cursor: pointer;
}

.title a {
    color: black;
    text-decoration: none;
    padding: 2rem;
    opacity: 0.9;
    text-shadow: 1px 1px white;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-shadow: 1px 1px white;
    opacity: 1;
}

.titleSpan {
    font-size: x-large;
    float: right;
    padding: 2rem;
    padding-right: 5rem;
    text-shadow: 2px 2px white;
    position: relative;
    top: 2rem;
    right: 12rem;
}


.title {
  position: relative;
  top: -50px;
  margin-top: 0;
  font-family: Ariel, sans, , serif, sans-serif, cursive, fantasy;
  text-shadow: 2px 2px grey;
  font-size: 40px;
  padding-left: 20px;
  margin-bottom: 3rem;
}




.title,
.description {
    text-align: center;
}

.description {
    color: grey;
    text-shadow: 1px 1px black;
    padding: 2rem;
    padding-right: 3rem;
    margin: 0rem 0;
    line-height: 1.5;
    font-size: 1rem;
    max-width: 60rem;
}
.button {
    width:100%;
    background-color: silver;
    border-radius: 15px;
}


.button:hover {
    color: black;
    text-shadow: 1.5px 1.5px white;
    opacity: 1;
    border-style: 2p inset black;
    cursor:pointer;
}

.span {
    font-size: xx-large;
    color: orange;
    text-shadow: 1px 1px black;
}

.span:hover {
    color: white;
}

.nav ul li {
    display: flex;
    flex-basis: auto;
    color: #fafafa;
    justify-content: space-around;
    list-style: none;
    font-size: xx-large;
    padding-top: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav ul:hover {
    color: orange;
    text-decoration: underline;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1400px;
}

.h2 {
    background-image: none;
    opacity: 0.9;
    background-size: cover;
    text-shadow: 1px 1px white;
    margin-top: 0rem;
    padding: 2rem;
    text-align: left;
    font-size: larger;
    color: black;
    text-decoration: none;
    transition: color .5s ease, border-color 0.15s ease;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.h2:hover {
    color: white;
    border-color: hsl(184, 42%, 62%);
    text-decoration: dashed;
    background-color: black;
    opacity: 0.85;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    max-height: 300px;
    overflow: scroll;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
    font-family: monospace;
}

.card:hover,
.card:focus,
.card:active {
    color: black;
    border-color: hsl(212, 100%, 48%);
    background-image: url(/tea-stained.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: all-scroll;
    background-color: white;
    opacity: 0.9;
    overflow: scroll;
    font-family: monospace;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card h2:hover {
    text-shadow: 1px 1px white;
    color: black;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
    font-family: monospace;
}

.card p:hover {
    text-shadow: 1px 1px white;
    font-weight: 900;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}

.flex {
    margin-top: -100px;
    padding-top: 1rem;
    padding-bottom: 0rem;
    display: flex;
    justify-content: space-around;
}

.publisher {
    font-family: Arial, Verdana, Tahoma, Trebuchet MS, Times New Roman, Georgia, Garamond, Courier New, Brush Script MT; 
    color: flex;
    margin-left: 2rem;
}
