/*.container {
    
    background-color: black;
    background-repeat: no-repeat;
    position: relative;
}
*/

.container {
  background-color: black;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: left;
  position: relative;
}



.holy {
  backgroud-color: black;
  color: white;
  font-family: Ariel, sans, serif, sans-serif, cursive, fantasy;
  position: relative;
  z-index:10;
  top: 12px;
  font-size: 36px;
  display: grid;
  align-items: center;
  justify-items: center;
  padding-left: 5px;
  tex-align: left;
}
.bible {
 position: relative;
  top: -37px;
  z-index: 10;
  margin-top: 0;
  font-family: Ariel, sans, , serif, sans-serif, cursive, fantasy;
  color: white;
  font-size: 52px;
  padding-left: 5px;
  display: grid;
  align-items: center;
  justify-items: center;
  tex-align: left;
}
.red:active,
.red:focus,
.red:hover {
    color: ;
}
/*
.main {
    background-color: black;
    min-height: 100vh;
    max-width: 900px;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
*/
.main {
  display: grid;
  align-items: center;
  justify-content: center;  
  background-color:  black;
  min-height: 100vh;  
  padding: 4rem 0;
  position:relative;
  top: 10px;
}
.iframe {
       width: 100%;
}
.fund {
   text-align: center;
    color: black;
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 25px;
    top: 5px;
    font-family:"Times New Roman", Times, serif;
    font-weight: 900;
}
.parables {
    display: grid;
    text-align: center;
    color: white;
    position: relative;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 25px;
    top: -15px;
    font-family: Ariel, sans, sans-serif, "Times New Roman", Times, serif;
    font-weight: 200;
}
.image {
    /*background-image: url(/frmilky_way_galaxy_star-image-kybd7u7d.jpeg);*/
    text-align: center;
    background-color: black;
    opacity: 0.5;
    margin-top: -50px;
    padding-left: 100px;
    padding-right: 100px;
    display: grid;
    place-items: center;
    align-items: center;
    justify-content: center;
    max-height: 900px; 
    alig-items: center;
    opacity: 1;
}
.book {
    text-align: center;
    font-family: fantasy, cursive, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.donate {
  background-color:white;
  opacity: 0.8;
  color: black;
  font-family: fantasy, cursive, Times New Roman, monospace;
  height: 28pxpx;
  border-radius: 10px;
  padding: 5px;
  top: -25px;
  
}
.donate:hover,
.donate:focus,
.donate:active {
  background-color: black;
  color: whitesmoke;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}
.hero {
  max-width: 1350px;
  position:relative;
  top: -105px;
}
.arrow {
    border-radius: 50%;
    height: 25px;
    width: 25px;
}
.footer a {
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-grow: 1;
}

.nav ul {
    display: flex;
    flex-basis: auto;
    color: #fafafa;
    justify-content: space-around;
    list-style: none;
    font-size: xx-large;
    padding-top: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.donateButton {
    width: 200px;
}

.donateButton:hover {
    color: white;
    cursor: pointer;
}

.title a {
    color: black;
    text-decoration: none;
    padding: 2rem;
    opacity: 0.9;
    text-shadow: 1px 1px white;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-shadow: 1px 1px white;
    opacity: 1;
}

.titleSpan {
    font-size: x-large;
    float: right;
    padding: 2rem;
    padding-right: 5rem;
    text-shadow: 2px 2px white;
    position: relative;
    top: 2rem;
    right: 12rem;
}


.title {
  color: white;
  position: sticky; 
  background-color: black;
  opacity: 0.95;
  padding-top: 40px;
  z-index: 2;
  top: -30px;
  margin-top: -135px;
  font-family: Ariel, sans, serif, sans-serif, cursive, fantasy;
  font-size: 64px;
}


.instructions {
  text-align: center;
  color: black;
  position: relative;
  top: 10px;
  margin-top: 0;
  font-family: Ariel, sans, serif, sans-serif, cursive, fantasy;
  font-size: 14px;
  margin-bottom: 0.5rem;
}


.title,
.description {
    text-align: center;
}

.description {
    text-shadow: 1px 1px black;
    color:white;
    padding: 2rem;
    padding-right: 3rem;
    margin: 0rem 0;
    line-height: 1.5;
    font-size: 1rem;
    max-width: 60rem;
}



.button:hover {
    color: black;
    background-color:#CBC3E3;
    opacity: 0.7;
    text-shadow: 1px 1px black;
    opacity: 1;
    border-style: 2px inset black;
    cursor:pointer;
}



.span:hover {
    color: #880808;
}

.nav {
    background-color: white;
    opacity: 1;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
}
.button {
    color: white;
    height: 30px;
    width: 70px;
    font-size: 7px;
    border-radius: 50px 20px;
    background-color: #b37400;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    margin-bottom: 75px;
}

.grid {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.h2 {
    background-image: none;
    opacity: 0.9;
    background-size: cover;
    margin-top: 0rem;
    padding: 2rem;
    text-align: left;
    font-size: larger;
    color: black;
    text-decoration: none;
    transition: color .5s ease, border-color 0.15s ease;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.h2:hover {
    color: white;
    border-color: hsl(184, 42%, 62%);
    text-decoration: dashed;
    background-color: black;
    opacity: 0.85;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card {
    background-image: url(/risen_24.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-origin: content-box;
    background-size: contain;
    display: grid;
    place-items: center;
    background-repeat: no-repeat;
    color: transparent;
    margin: 1.5rem;
    margin-bottom: 5rem;
    padding: 0rem;
    padding-top: -25px;
    text-align: left;
    max-height: 400px;
    max-width: 400px;
    background-color: black;
    border-radius: 15px 50px 30px;
    overflow: hidden;
    text-decoration: none;
    border: 3px solid #eaeaea;
    transition: color 0.15s ease, border-color 0.7s ease;
    font-family: monospace;
    box-shadow: lightblue 0px 5px 15px;
}
.chapter {
    background-color: black;
    color: white;
    opacity: 0.8;
    opacity: 1;
    position: sticky;
    z-index: 1;
    width: 100%;
    font-weight: 200;
    text-align: center;
    top: 0px;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 5px;
    font-family: Ariel, sans, serif, sans-serif, cursive, fantasy;
}

.card:hover,
.card:focus,
.card:active {
    display: inline;
    color: black;
    opacity: 1;
    border: 6px solid white;
    background-image: url(/paper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: all-scroll;
    background-color: white;
    overflow: scroll;
    font-family: monospace;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card h2:hover {
    color: black;
}

.card p {
    margin: 0;
    padding: 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
    font-family: monospace;
}

.card p:hover {
    font-weight: 900;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}

.flex {
    margin-top: -100px;
    padding-top: 1rem;
    padding-bottom: 0rem;
    display: flex;
    justify-content: space-around;
}

.publisher {
    font-family: Arial, Verdana, Tahoma, Trebuchet MS, Times New Roman, Georgia, Garamond, Courier New, Brush Script MT; 
    color: white;
    text-align: center;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
   
}

@media (max-width: 769px) {
    .nav ul {
        display: none;
        color: #fafafa;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-left: -2rem;
    }
}

@media (min-width: 769x) {
     .fund {
        padding-right: 120px;
        padding-left: 120px; 
    }
}
@media (min-width: 1080px) {
         .image {
        padding-left: 200px;
        padding-right: 200px;
        margin-left: 100px; 
        margin-right: 100px;      
    }
   
        .grid {
        grid-template-columns: 200px 200px 200px;
        
    }
    .iframe {
        padding-left: 200px;
        padding-right: 200px;
    }
}
   


@media (max-width: 769px) {
    .flex {
        display: grid;
    }
    .image {
        padding: 0;
        border: none;
    }
    .holy {
         display: block;
         padding: 0;
         text-align: left;
         top: 10px;
    }
    .bible {
        display: block;
        padding: 0;
        text-align: left;
        top: -40px;
    }
    .title  {
    font-size: 36px;
    }
    .card {
        margin-right: 0;
        margin-left: 0;
    }
}
